.topRow {
    height: 200px;
    right: 5px;
    top: 5px;
    text-align: right;
    /* border: 1px solid rgba(255, 255, 255, 0.9); */
}

.indexParent {
    width: 99vw;
    margin: auto;
    height: 90%;
    /* border: 1px solid rgba(255, 255, 255, 0.9); */
}

.indexData {
    min-width: 1250px;
    padding-left: 50px;
    padding-right: 50px;
    height:90%;
    /* border: 5px solid rgba(255, 255, 255, 0.9); */
}

.indexLogos {
    position: absolute;
    right: 0px;
    top: 0px;
}

.indexStxOnChain {
    height: auto;
    width: 50vw;
    margin-right: 20px;
    padding-right: 20px;
    text-align: right;
    white-space: nowrap;
    font-size: 26px;
    color: rgba(255, 255, 255, 0.7);
    /* border: 1px solid rgba(255, 255, 255, 0.9); */
}

.indexStxOnChain:hover {
    font-weight: bold;
}

.indexRow {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    height: auto;
    /* border: 1px solid rgba(255, 255, 255, 0.24); */
}

.metrics {
    display: block;
    width: 100vw;
    height: auto;
    padding: 1.5rem;
    margin: .5rem;
    color: rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.24);
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.8);
    position: relative;
    text-align: left;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.24);
    white-space: nowrap;
}

.metrics:hover {
    cursor: default;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
}

.metricsValue {
    color: rgba(255, 255, 255, 0.7);
    font-weight: bold;
    font-size: 1.5vw;
    text-transform: none;
    /* border: 1px solid rgba(255, 255, 255, 0.9); */
}

.metricsKey {
    font-size: 1.5vw;
    margin-right: 1em;
    font-weight: bold;
    /* border: 1px solid rgba(255, 255, 255, 0.9); */
} 

.metricsData {
    font-weight: bold;
    text-transform: uppercase;
    /* border: 1px solid rgba(255, 255, 255, 0.9); */
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.serviceLogo {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(97deg) brightness(105%) contrast(101%);
    position: relative;
    right: 2%;
    width: 65px;
    height: 65px;
    display: inline-block;
    justify-content: right;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 25px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom:10px;
    align-items: center;
    gap: 8px;
}

.serviceLogo:hover {
    transform: scale(1.2);
}

.stxLogo {
    position: absolute;
    top: 0;
    left: 0;
}