.indexParent {
    width: 99%;
    height: 90%;
    /* border: 1px solid rgba(255, 255, 255, 0.9); */
}

.topRow {
    width: 99%;
    position: relative;
    height: 200px;
    /* border: 1px solid rgba(255, 255, 255, 0.9); */
}

.indexLogos {
    position: absolute;
    right: 0px;
    top: 0px;
    /* border: 1px solid rgba(255, 255, 255, 0.9); */
}

.indexData {
    min-width: 1250px;
    padding-left: 25px;
    padding-right: 25px;
    height: 90%;
    /* border: 5px solid rgba(255, 255, 255, 0.9); */
}

.indexRow {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: auto;
    padding-left: 50px;
    padding-right: 50px;
    /* border: 1px solid rgba(255, 255, 255, 0.24); */
}

.metrics {
    display: block;
    width: 100vw;
    height: auto;
    padding: 1.5rem;
    margin: 1rem;
    color: rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.24);
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.8);
    position: relative;
    text-align: left;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.24);
    /* opacity: 0.55; */
}

.metrics:hover {
    cursor: default;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
    /* opacity: 0.5; */
    /* color: rgba(255, 255, 255, 0.1); */
}

.metrics:hover .metricsValue {
    color: rgba(255, 255, 255, 1);
}

.metrics:hover .metricsKey {
    color: rgba(255, 255, 255, 1);
}

.metrics:hover .metricsTitle {
    font-weight: bold;
}

.metricsValue {
    color: rgba(255, 255, 255, 0.7);
    font-weight: bold;
    font-size: 3vw;
    text-transform: none;
    /* border: 1px solid rgba(255, 255, 255, 0.9); */
}

.metricsValueSmall {
    font-size: 1.5vw
}

.metricsKey {
    font-size: 1vw;
    color: #999CA3;
    letter-spacing: 1px;
}

.metricsTitle {
    color: rgba(255, 255, 255, 0.45);
    text-decoration-line: underline;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-size: 1.5vw;
    margin-right: 1em;
    /* font-weight: bold; */
}

.metricsData {
    font-weight: bold;
    text-transform: uppercase;
    /* border: 1px solid rgba(255, 255, 255, 0.9); */
    padding: 10px;
    /* opacity: 0.55; */
}

.contractTable {
    padding-top: 1.5vw;
}

.contractHeading {
    text-transform: uppercase;
    letter-spacing: 2%;
    font-weight: bold;
    font-size: 0.8vw;
}

.contractCell {
    padding: 1.5vw 3vw 1.5vw 0;
}

.serviceLogo {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(97deg) brightness(105%) contrast(101%);
    position: relative;
    right: 2%;
    width: 75px;
    height: 75px;
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 25px;
    margin-right: 10px;
    margin-bottom: 10px;
    align-items: center;
}

.serviceLogo:hover {
    transform: scale(1.2);
}

.stxLogo {
    position: absolute;
    top: 0;
    left: 0;
}
